.btn {
  margin-right: 8px;
}

.pagination {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-right: 30px;
}
.btns {
  display: flex;
  flex-direction: row-reverse;
}
