.titleTime {
  margin: 20px 0;
}

.totalBox {
  display: flex;
  background-color: #ffffff;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

.mapBox {
  margin: 20px 0;
  padding: 30px 0;
  background-color: #ffffff;
}
