.contain {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.mainHeader {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  font-size: 15px;
  color: #2f354d;
  font-weight: bold;
  .rightBlock {
    color: #f85149;
    font-weight: 700;
    font-size: 20px;
  }
}
.subHeader {
  flex: 1;
  padding: 0 20px;
  font-size: #a3a5b0;
  display: flex;
  justify-content: space-between;
}
.map {
  flex: 5;
}
