.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  height: 100%;
}

.value {

  font-weight: 700;
  font-size: 28px;
}
.title {

}

